# Malicious package
shaderz==0.0.1
 
# Malicious package
aioconsol==1.0
 
# CVE-2018-25033
admesh==0.98.1
 
# CVE-2021-43775
aim==2.1.0
httpssp==0.0.0
xhttpsp==1.0
ascii2text
ascii2text
pyg-utils
pymocks
PyProto2
test-async
free-net-vpn
free-net-vpn2
zlibsrc
py-hydraurlstudy==2.37
tptoolpywgui==10.56
libgetrandram==7.78
esqultraultrapong==7.37
esqhackedLGTBpip==5.4
tppyrandomed==4.33
esqpepintpyw==3.40
py-proofnvidiavm==7.87
selfvisapostosint==1.16
esqhttpguicc==2.76
esqcpupipkill==9.35
py-ultrageturl==4.17
esqpeprandpaypal==5.38
esqhttppywinfo==8.86
tppyLGTBnvidia==3.11
selfpostmcintel==10.27
esqrerecandy==2.70
esqpaypalnvidiaurl==4.73
librereplacereplace==8.23
selfhackedrandomstudy==4.59
libvirtualsplitstring=2.35
py-infohydrarandom==1.57
esqproofpongint==4.27
selfccvirtualgame==6.70
tpintelpullcpu==9.31
selflibmineload==5.34
esqsplitpushpush==7.71
selfproofstudyrand==1.59
libcontrolverLGTB==5.50
esqgameloadrandom==4.81
selfpaypalcontrolsuper==5.71
libpipinfoad==10.35
libpywstrvm==7.15
selfhydrastudycc==2.15
tpstringcraftget==6.42
esqlibkillstr==10.27
selfrandompullver==1.9
tpreloadad==1.68
selfinturlstudy==2.23
selfosintgrandrandom==2.67
useragentclient==1.0
etherapi==1.0
colorstyle==1.0
ligitgays==1.0
ligitkidss==1.0
tls-python==1.0
tlsproxies==1.0
xboxlivepy==1.0
syntax-init==1.0
trc20-unlocker==1.0
snwproxies==1.0
thebypasstool==1.0
judyb-advanced==1.0
v4pe==5
telthi==1
